/* .App {
  height: 550px;
  text-align: center;
  background: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
} */


.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.inputBox {
  width: 100%;
  border-radius: 50px;
  padding: 7px 30px;
  font-size: 18px;
  border: none;
  box-shadow:  0 0 5px black;
  margin-top: 5%;
}

.inputBox:focus {
  outline: none;
}

.container {
  width: 95%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.todos {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 40.5%;
  padding: 15px;
  margin-left: 5% ;
  margin-top: 50px;
  background-color: rgb(50, 195, 205);
}

.todosHeading {
  font-size: 30px;
  color: white;
}

.todosSingle {
  display: flex;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  transition: 0.2s;
  /* background: #fff; */
  background: linear-gradient(to right, #ffeeee, #ddefbb);
}

.drag {
  box-shadow: 0 0 20px black;
}

.todosSingle:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.todosSingleText {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todosSingleText:focus {
  outline: none;
}


@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .container {
    width: 95%;
    flex-direction: column;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
}
